@use '../../styles/auth-form';

.hint-msg {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.72rem;
  color: var(--text-secondary);
  margin-top: 0.3rem;

  i {
    font-size: 0.7rem;
  }
}
